h1 {
  margin-top: 1.5rem;
  padding-bottom: 7px;
}

.panel {
  border: 1px outset rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 4px;
}

#content > .graph.panel {
  position: relative;
}

.graph_canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas_size {
  width: 420px;
  height: 320px;
}

.panel {
  box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 0.22), 0 0 20px -4px rgba(255, 255, 255, 0.45) inset;
}

.graph.panel {
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
}

.info.panel {
  float: left;
}

.ui.panel {
  clear: both;
}

footer {
  clear: both;
}

.panel tr > th:first-child {
  text-align: right;
  padding-right: 0.4em;
}

#steps_per_frame {
  width: 4em;
}

#point_pos_table input[type="range"] {
  width: 10em;
}

#point_pos_table td:nth-child(3),
#point_pos_table td:nth-child(4),
#point_pos_table td:nth-child(5) {
  text-align: right;
}
