body {
  background: #bbb;
}

h1 {
  margin-top: 1.5rem;
  padding-top: 7px;
  padding-bottom: 7px;
}

#debugbox {
  color: #0F0;
  background: #000;
  border-radius: 6px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#debugbox .hdr {
  display: inline-block;
  background-color: #040;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  border-right: 1px dotted #0F0;
  padding: 2px 5px;
  margin-right: 8px;
}

#debugbox .msg {
  display: inline-block;
  padding: 2px 5px;
}

.panel {
  border: 1px outset rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 4px;
}

#content > .graph.panel {
}

.graph_canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas_size {
  width: 420px;
  height: 420px;
}

.canvas_wrapper {
  background-color: #fff;
  border-radius: 3px;
  border: 1px inset rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.resizable {
  resize: both;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.panel {
  box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 0.22), 0 0 20px -4px rgba(255, 255, 255, 0.45) inset;
}

.graph.panel {
  float: left;
  margin-right: 7px;
  padding: 4px;
}

.info.panel {
  float: left;
}

.graph.panel,
.info.panel {
  margin-bottom: 7px;
}

.info.panel > table {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0px;
}

.ui.panel {
  clear: both;
}

footer {
  clear: both;
}

.panel tr > th:first-child {
  text-align: right;
  padding-right: 0.4em;
}


.ui.panel > .buttonbox {
  display: inline-block;
}

.buttonbox > .title {
  display: inline-block;
  margin-left: 1em;
  margin-right: 0.333em;
}

.buttonbox > .title:first-child {
  font-weight: bold;
  margin-left: 0em;
  margin-right: 1em;
}

.buttonbox.pointsbox {
  float: right;
}

.buttonbox.pointsbox ~ hr {
  clear: both;
  margin-top: 4px;
  margin-bottom: 4px;
  opacity: 0.18;
}

.ui.panel > hr ~ h3 {
  margin-top: 0.5rem;
}

.restrictbox {
  overflow-x: auto;
}

#restrict_table {
  border-spacing: 0;
}

#restrict_table th {
  padding: 3px;
  text-align: center;
}

#restrict_table td {
  padding: 3px;
  text-align: center;
}

#restrict_table th[scope="row"] {
  text-align: right;
}

#restrict_table .self,
#restrict_table .opposite {
  background-color: #e2e2e2
}

#restrict_table .styled_checkbox_container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 4px;
}

#restrict_table .styled_checkbox_container .hidden_checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#restrict_table .styled_checkbox_container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

#restrict_table .styled_checkbox_container,
#restrict_table .styled_checkbox_container .checkmark {
  height: 1.2rem;
  width:  1.2rem;
}

#restrict_table .styled_checkbox_container .hidden_checkbox ~ .checkmark.inactive {
  display: block;
  background-color: #2a2;
  border: 1px outset #147214;
  box-shadow: 1px 1px 2px -1px #000;
}

#restrict_table .styled_checkbox_container .hidden_checkbox ~ .checkmark.active {
  display: none;
}

#restrict_table .styled_checkbox_container .hidden_checkbox:checked ~ .checkmark.inactive {
  display: none;
}

#restrict_table .styled_checkbox_container .hidden_checkbox:checked ~ .checkmark.active {
  display: block;
  color: #eee;
  background-color: #a22;
  border: 1px inset #681515;
  box-shadow: 1px 1px 2px -1px #000 inset;
  text-align: center;
  font-family: monospace;
  font-size: 12px;
  line-height: 12px;
}

#restrict_table .styled_checkbox_container:hover .hidden_checkbox ~ .checkmark.inactive {
  border-style: solid;
  border-color: #681515;
}

#restrict_table .styled_checkbox_container:hover .hidden_checkbox:checked ~ .checkmark.active {
  border-style: solid;
  border-color: #147214;
}

#restrict_table .styled_checkbox_container .hidden_checkbox:disabled ~ .checkmark {
  opacity: 0.333;
  border-style: solid;
  border-color: #F2F2F2;
  box-shadow: none;
}

#imgmask_img_box {
  float: right;
}

td.blank {
  border: none;
}

#button_run {
  min-width: 4.5em;
}

#num_points {
  width: 3em;
}

#canvas_width,
#canvas_height {
  width: 5em;
}

#set_all_points_box {
  padding-right: 0;
}

#set_all_points {
  font-weight: bold;
  padding-left: 1px;
  padding-right: 1px;
}

#move_range_max_label {
  margin-left: 0.5em;
}

#move_range_min,
#move_range_max {
  width: 3em;
}

.imgmask_caption_size_hw {
  margin-left: 0.3em;
  font-weight: light;
}

.imgmask_caption_size_hw > code {
  font-weight: normal;
}

#imgmask_img_box > figure {
  display: inline-block;
  margin: 0;
}
#imgmask_img_box > figure ~ figure {
  margin-left: 1em;
}

#imgmask_img_box > figure > figcaption {
  font-weight: bold;
}

#imgmask_img_box > figure > img,
#imgmask_img_box > figure > canvas {
  width: 96px;
  height: 96px;
  padding: 3px;
  border-radius: 3px;
  border: 1px inset rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.5) inset;
  background-color: #ccc;
}

#imgmask_scale_width ~ label {
  margin-left: 1em;
}

#imgmask_scale_width,
#imgmask_scale_height,
#imgmask_offset_x,
#imgmask_offset_y,
#imgmask_oversample,
#steps_per_frame,
#draw_opacity {
  width: 3.5em;
}

#all_points_table {
  float: right;
}

#point_pos_table input[type="color"] {
  width: 3em;
}

#point_pos_table input[type="number"],
#all_points_table input[type="number"] {
  width: 4em;
}

#point_pos_table input[type="range"],
#all_points_table input[type="range"] {
  width: 8em;
  margin-left: 0;
  margin-right: 0;
}

#point_pos_table td:nth-child(3),
#point_pos_table td:nth-child(4),
#point_pos_table td:nth-child(5) {
  text-align: right;
}

th.move_mode,
td.move_mode {
  width: 24px;
  text-align: center;
}

#point_pos_table .move_mode input[type="checkbox"] {
  margin-left: 0;
  margin-right: 0;
}

.highlight > td {
  background-color: #F9FBB6;
}

.highlight > td:first-child {
  font-weight: bold;
}

#serializebox {
  display: none;
  position: fixed;
  top: 6em;
  left: 4em;
  border-radius: 8px;
  border: 2px outset rgba(0, 0, 0, 0.5);
  padding: 1em;
  min-width: 50%;
  background: #ddd;
}

#serializebox_title {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0.666em;
}

#serializebox_text {
  width: 100%;
  min-height: 8em;
}

#serializebox > .ui.panel {
  text-align: right;
}
