body {
  background: #bbb;
}

h1 {
  margin-top: 1.5rem;
  padding-top: 7px;
  padding-bottom: 7px;
}

.panel {
  border: 1px outset rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 4px;
}

#content > .graph.panel {
}

.graph_canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas_size {
  width: 420px;
  height: 320px;
}

.canvas_wrapper {
  background-color: #fff;
  border-radius: 3px;
  border: 1px inset rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.resizable {
  resize: both;
}

.panel {
  box-shadow: 1px 1px 6px -3px rgba(0, 0, 0, 0.22), 0 0 20px -4px rgba(255, 255, 255, 0.45) inset;
}

.graph.panel {
  float: left;
  margin-right: 7px;
  padding: 4px;
}

.info.panel {
  float: left;

}

.graph.panel,
.info.panel {
  margin-bottom: 7px;
}

.ui.panel {
  clear: both;
}

footer {
  clear: both;
}

.panel tr > th:first-child {
  text-align: right;
  padding-right: 0.4em;
}


.ui.panel > .buttonbox {
  display: inline-block;
}

.buttonbox > .title {
  display: inline-block;
  margin-left: 1em;
  margin-right: 0.333em;
}

.buttonbox > .title:first-child {
  font-weight: bold;
  margin-left: 0em;
  margin-right: 1em;
}

.buttonbox.pointsbox {
  float: right;
}

.buttonbox.pointsbox ~ hr {
  clear: both;
  margin-top: 4px;
  margin-bottom: 4px;
  opacity: 0.18;
}

.ui.panel > hr ~ h3 {
  margin-top: 0.5rem;
}

.restrictbox {
  overflow-x: auto;
}

#restrict_table {
  border-spacing: 0;
}

#restrict_table th,
#restrict_table td {
  padding: 3px;
  text-align: center;
}

#restrict_table th[scope="row"] {
  text-align: right;
}

#restrict_table .self,
#restrict_table .opposite {
  background-color: #e2e2e2
}

td.blank {
  border: none;
}

#button_run {
  min-width: 4.5em;
}

#num_points {
  width: 3em;
}

#steps_per_frame,
#draw_opacity {
  width: 3.5em;
}

#point_pos_table input[type="range"] {
  width: 10em;
}

#point_pos_table td:nth-child(3),
#point_pos_table td:nth-child(4),
#point_pos_table td:nth-child(5) {
  text-align: right;
}

.highlight > td {
  background-color: #F9FBB6;
}

.highlight > td:first-child {
  font-weight: bold;
}

#serializebox {
  display: none;
  position: fixed;
  top: 6em;
  left: 4em;
  border-radius: 8px;
  border: 2px outset rgba(0, 0, 0, 0.5);
  padding: 1em;
  min-width: 50%;
  background: #ddd;
}

#serializebox_title {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0.666em;
}

#serializebox_text {
  width: 100%;
  min-height: 8em;
}

#serializebox > .ui.panel {
  text-align: right;
}
